$gold-orange: #FFAA00;
$pink: #FFEDED;
$red: #C12323;
$medium-grey: #818181;
$light-grey: #E1E4DF;
$box-grey: #ececec;
$dark-grey: #3E3E3E;
$user-grey: #B6B6B6;
$user-username-grey: #777;
$black: #222;
$white: #ececec;
$cart-background: #F4F3EF;
$line-grey: #DDDFDA;
$session-hover: #fce0a9;
$modal-grey: #FAF9F5;
$session-grey: #EEEEEE;
$cart-line-grey: #E1E3E0;
$btn-grey: #D9D9D9;
