.categories-bar{

  border-bottom: 1px solid $light-grey;
  border-top: 1px solid $light-grey;
  color: #222;
  padding: 5px 0 10px 0;
  font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
  .categories{
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    width: 100%;

    li {
      font-family: $roboto;
      margin: 0 10px;
    }
  }
}
