.items-show{
  font-family: $roboto;
  display: flex;
  flex-wrap: wrap;

  .show-header{
    display: flex;
    margin-left: -36px;
    padding-left: 18px;
    padding-right: 18px;
    margin-right: -36px;
    margin: auto;
    width: 1000px;
    justify-content: center;
    margin: auto;
    padding: 28px 28px 0 28px;
    color: #222;
    font-family: "Graphik Webfont", -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Segoe UI", "Helvetica", Arial, sans-serif;
    line-height: 1.4;


    .keep-shopping{
      border-radius: 3px;
      width: 60px;
      height: 60px;
      font-family: $graphik;
      font-size: 14px;
      display: table;
      color: #444;
      font-weight: normal;
      text-shadow: none;
      border: 3px solid #fff;
    }

    .show-left{
      width: 50%;
      display: flex;
      font-weight: 500;
      font-size: 26px;
      color: #222;
      justify-content: flex-start;
      padding-left: 18px;
      padding-right: 18px;

      img{
        width: 75px;
        height: 75px;
        margin-left: 18px;
        border-radius: 3px;
      }


      .username{
        color: $black;
        font-weight: 500;
        font-size: 26px;
        margin-left: 18px;
        margin-top: 28px;
        font-family: $graphik;
        text-align: left;

        .show-edit-button{
          display:flex;
          text-decoration: none;
          font-size: 14px;
          border: 1px solid $line-grey;
          padding: 5px;
          margin-top: 5px;
          border-radius: 3px;
        }
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }

  .show-right{
    width: 50%;
    display: flex;
    justify-content: space-evenly;

    ul{
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      padding-left: 25px;

      .border{
        border-radius: 3px;
        border: 3px solid #fff;
        background: #fff;
        overflow: hidden;
        transition: all 0.1s;
      }

      .outside-border{
        border: 1px solid $line-grey;
      }

      li{
        border: 1px solid $line-grey;

        .extra-user-item-img{
          border-radius: 3px;
          width: 69px;
          height: 69px;
          border: 1px solid $white;
          opacity: 0.99;

        }
      }
    }
  }


  .show-middle-box{
    flex-wrap: wrap;
    background: white;
    border-radius: 4px;
    width: 990px;
    border-radius: 5px;
    margin: auto;
    margin: 28px auto 20px;
    padding: 28px;

    .show-middle{
      display:flex;
      background: white;
      border-radius: 4px;
      margin: auto;
      padding: 28px;
      padding-bottom: 0px;

      .show-item-img{
        height: 570px;
        width: 570px;
        margin-right: 28px;
        margin-top: 3.1%;
        vertical-align: middle;
        margin-bottom: 25px;
        padding-bottom: 25px;
        border-bottom: 1px solid $line-grey;
        color: $dark-grey;
      }

      .show-aside{
        margin-top: 3.1%;
        background-color: #fff;
        border-radius: 4px;
        width: 392px;
        display: flex;
        flex-direction: column;
        font-family: $graphik;
        border-bottom: 1px solid $line-grey;
        padding-bottom: 43px;

        .show-item-title{
          font-size: 20px;
          font-family:$item-title;
          line-height: 26px;
          font-weight: 700;
          color: #3E3E3E;
          text-shadow: 0 1px 0 white;
          color: $dark-grey;
          width: auto;
          text-shadow: 0 1px 0 white;
          text-align: left;
          padding-bottom: 16px;
        }

        .show-item-price{
          display: flex;
          font-size: 20px;
          font-weight: bold;
          line-height: 1.4;
          text-align: right;
          color: #222;
          padding-bottom: 10%;
          align-content: unset;
        }

        .cart-button{
          border-color: rgba(0, 0, 0, 0.1);
          color: #FFF;
          background-color: $gold-orange;
          border-radius: 4px;
          border-width: 1px;
          font-family: inherit;
          font-size: 14px;
          font-weight: bold;
          height: 24px;
          line-height: 1.4;
          padding: 8px 12px;
          text-align: center;
          &:hover{
            border-color: rgba(0, 0, 0, 0.2);
          }
        }
        .quantity{
          margin-top: 14px;
          margin-bottom: 14px;
          display: block;
          color: $black;
          font-size: 14px;
          font-weight: 100;
        }
        .edit-button{
          padding-bottom: 10px;
          border: 2px solid $gold-orange;
          border-radius: 3px;
          font-weight: bold;
          font-size: 15px;
          line-height: 1.2;
          color: $gold-orange;
          border-radius: 4px;
          font-family: inherit;
          font-size: 14px;
          line-height: 1.4;
          padding: 8px 12px;
          text-align: center;
          margin-bottom: 12px;
          margin-top: 12px;

          &:hover{
            color: white;
            background-color: $gold-orange;
          }
        }
        .show-item-price-label{
          text-align: left;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
        }
      }
    }
    .show-item-description{
      padding-left: 28px;
      height: 2em;
      width: 59%;
      margin-bottom: 3%;
      padding-bottom: 25px;
      display: flex;
      flex-direction: column;
      font-size: 14px;
      line-height: 1.4;
      font-family: $graphik;

      h1{
        height: 25px;
        margin-bottom: 1em;
        font-weight: 500;
        font-size: 16px;
        color: black;
        line-height: 1.6;
        text-align: start;
      }

      p{
        display: flex;
        flex-direction: column;
        margin-bottom: 2em;
        padding-bottom: 50px;
        border-bottom: 1px solid $line-grey;
              overflow: hidden;
      }
    }
  }
}

  .not-yo-item{
    display: flex;
    justify-content: center;
    padding: 10%;
    font-weight: 500;
    line-height: 1.2;
    font-size: 26px;
    color: $black;
    font-family: $graphik;
  }
