

.staff-headline{
  font-family: $roboto;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
  font-size: 26px;
}

.items-index{
  font-family: $roboto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  font-size: 12px;

  .item{
    display:flex;
    flex-direction: column;
    border-radius: 4px;
    margin: 10px;
    width: 206px;
    height: 164px;
    transition: box-shadow 0.5s;
    margin-top: 0px;
    margin-bottom: 180px;
    margin-left: 30px;
    margin-right: 30px;

    .item-index-price{
      color: $dark-grey;
      font-weight: 550;
      font-size: 13px;
      line-height: 1.4;
      text-align: left;
    }
    .item-index-title{
      color: #444;
      text-align: left;
      font-size: 13px;
      font-weight: 400;
      margin-top: 7px;
      margin-bottom: 3px;
      letter-spacing: .02em;
      font-family: $graphik;
  }
    .item-index-user{
      font-size: 14px;
      line-height: 1.4;
      color: $user-grey;
      text-align: left;
    }
    img{
      border: 1px solid $light-grey;
      border-radius: 4px;
      transition: box-shadow 0.5s;
      position: relative;
      width:  200px;
      height: 200px;
      &:hover{
        box-shadow: 1px 4px 15px 3px rgba(0, 0, 255, 0.1);
      }
    }
  }
}


.filter-and-index{
  display:flex;
  margin: 50px;
  .index-filter{
    font-family: $roboto;
    font-weight: 500;
    border-radius: 3px;
    background-color: #FFF;
    border: 1px solid $light-grey;
    border-bottom-color: #CBCCC9;
    margin: 0 0 12px;
    width: 216px;
    padding: 30px;
    font-size: 14px;
    text-align: left;


    label{
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;
      margin-top: 40px;
    }
    .line-under{
      border-bottom: 1px solid $light-grey;
    }
    input{
      border-radius: 3px;
      border-color:$light-grey;
      border-style: solid;
      border-width: 1px;
      color: #222;
      display: block;
      font-family: inherit;
      font-size: 14px;
      outline: none;
      padding-top: 9px;
      padding-bottom: 9px;
      padding-left: 12px;
      padding-right: 12px;
    }
  }
}
