.items-show{
  font-family: $roboto;
  display: flex;
  flex-wrap: wrap;

  .show-header{
    height: 103px;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 5%;
    width: 1000px;

    .keep-shopping{
    font-family: $graphik;
    font-size: 14px;
    line-height: 1.4;
    padding: 7px;
    display: table;
    color: #444;
    font-weight: normal;
    text-shadow: none;
    border-radius: 3px;
    border: 1px solid #ececec;
    margin-top: 10%;
    }

    .show-left{
      width: 50%;
      margin-top: 28px;
      display: flex;
      justify-content: flex-start;
      margin-left: 10%;
      img{
        width: 75px;
        height: 75px;
        margin-left: 18px;
        border-radius: 3px;
      }

      h1{
        color: $black;
        font-weight: 500;
        font-size: 26px;
        margin-left: 18px;
        margin-top: 28px;
        font-family: "Guardian-EgypTT",serif;
        text-align: left;
      }
    }
  }

  .show-right{
    width: 50%;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    ul{
      display: flex;
      justify-content: space-evenly;
      width: 100%;
    }
    .extra-user-item-img{
      margin-left: 18px;
      margin-top: 28px;
      border-radius: 3px;
      width: 80px;
      height: 80px;
      border: 1px solid $white;

      &:hover{
        background-color: $light-grey;
      }
    }
  }

  .show-middle-box{
    flex-wrap: wrap;
    background: white;
    border-radius: 4px;
    width: 1050px;
    margin: auto;

    .show-middle{

      display: flex;
      background: white;
      border-radius: 4px;
      width: 1050px;
      margin: auto;

      .show-item-img{
        height: 570px;
        width: 570px;
        margin-right: 28px;
        margin-top: 3.1%;
        vertical-align: middle;
        margin-bottom: 25px;
        padding-bottom: 25px;
        border-bottom: 1px solid $line-grey;
        color: $dark-grey;
      }

      .show-aside{
        margin-top: 3.1%;
        background-color: #fff;
        border-radius: 4px;
        width: 392px;
        display: flex;
        flex-direction: column;
        font-family: $graphik;
        border-bottom: 1px solid $line-grey;
        padding-bottom: 43px;

        .show-item-title{
          font-size: 20px;
          font-family:$item-title;
          line-height: 26px;
          font-weight: 700;
          color: #3E3E3E;
          text-shadow: 0 1px 0 white;
          color: $dark-grey;
          width: auto;
          text-shadow: 0 1px 0 white;
          text-align: left;
          padding-bottom: 16px;
        }

        .show-item-price{
          display: flex;
          font-size: 20px;
          font-weight: bold;
          line-height: 1.4;
          text-align: right;
          color: #222;
          padding-bottom: 10%;
          align-content: unset;
          }

        .cart-button{
          font-size: 15px;
          line-height: 1.2;
          border-color: rgba(0, 0, 0, 0.1);
          color: #FFF;
          background-color: $gold-orange;
          border-radius: 4px;
          border-width: 1px;
          font-family: inherit;
          font-size: 14px;
          font-weight: bold;
          height: 24px;
          line-height: 1.4;
          padding: 8px 12px;
          text-align: center;
          text-decoration: none;
          &:hover{
            border-color: rgba(0, 0, 0, 0.2);
          }
        }
        .quantity{
          padding-bottom: 15%;
          display: block;
          color: $black;
          font-size: 14px;
          margin-bottom: 3px;
          font-weight: 100;
        }
        .show-item-price-label{
          text-align: left;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
        }
      }
    }
    .show-item-description{
      height: 2em;
      width: 55%;
      margin-bottom: 3%;
      padding-bottom: 25px;
      display: flex;
      flex-direction: column;
      font-size: 14px;
      line-height: 1.4;
      font-family: $graphik;

      h1{
        height: 25px;
        margin-bottom: 1em;
        font-weight: 500;
        font-size: 16px;
        color: black;
        line-height: 1.6;
        text-align: start;
      }

      p{
        display: flex;
        flex-direction: column;
        margin-bottom: 2em;
        padding-bottom: 50px;
        border-bottom: 1px solid $line-grey;
      }
    }
  }
}

  .not-yo-item{
    display: flex;
    justify-content: center;
    padding: 10%;
    font-weight: 500;
    line-height: 1.2;
    font-size: 26px;
    color: $black;
    font-family: $graphik;
  }
