
.empty-search{
  display: flex;
  justify-content: center;
  padding: 10%;
  font-weight: 500;
  line-height: 1.2;
  font-size: 26px;
  color: $black;
  font-family: $graphik;
}

.filter-and-index{
  display: flex;
  margin: 50px 0 50px 0;

  .items-index-main{
    width: 88%;
    display: flex;

    .items-index{
      font-family: $roboto;
      display: flex;
      flex-wrap: wrap;
      font-size: 12px;
      width:100%;

      .item{
        display: flex;
        flex-direction: column;
        border-radius: 4px;
        width: 190px;
        height: 164px;
        transition: box-shadow 0.5s;
        margin-bottom: 180px;
        margin-right: 4%;
        margin-left: 1.5%;
        font-family: $graphik;

        .item-index-price{
          color: $dark-grey;
          font-weight: 550;
          line-height: 1.4;
          text-align: left;
          font-size: 14px;
        }
        .item-index-title{
          color: #444;
          text-align: left;
          font-size: 15px;
          font-weight: 100;
          margin-top: 7px;
          margin-bottom: 3px;
          letter-spacing: .02em;
        }
        .item-index-user{
          line-height: 1.4;
          color: $user-username-grey;
          text-align: left;
          font-weight: 100;
        }
        img{
          border: 1px solid $light-grey;
          border-radius: 4px;
          transition: box-shadow 0.5s;
          position: relative;
          width:  200px;
          height: 200px;
          &:hover{
            box-shadow: 1px 4px 15px 3px rgba(0, 0, 255, 0.1);
          }
        }
      }
    }
  }
  .index-filter{
    font-family: $roboto;
    font-weight: 500;
    border-radius: 3px;
    background-color: #FFF;
    border: 1px solid $light-grey;
    border-bottom-color: #CBCCC9;
    margin: 0 0 12px;
    width: 216px;
    height: 700px;
    padding: 30px;
    font-size: 14px;
    text-align: center;
    .filter-btns{
      button{
        width: 150px;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        margin-top: 40px;
        padding-top: 6px;
        font-size: 12px;
        font-weight: normal;
        height: 28px;
        padding: 4px 12px;
        background-color: #FFF;
        border-radius: 3px;
        border: 1px solid $btn-grey;
        display: inline-block;
        font-family: inherit;
        text-align: center;
        line-height: 1.4;
      }

      .line-under{
        border-bottom: 1px solid $light-grey;
      }
    }
  }
}
