
.modal-backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9;
  background: rgba(0,0,0,0.3);
}


.modal-window {
  font-family: $roboto;
  top: 100px;
  left: 30%;
  margin-left: -220px;
  width: 580px;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #000;
  display: block;
  background-color: #fff;
  position: absolute;
  z-index: 999;
  overflow: hidden;
  height: 485px;
  margin: 0 auto;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 255, .1);

  section{
    padding: 10px;
    border-bottom: 1px solid grey;
    a{
      background-color: lightgrey;
      border: 1px solid grey;

      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      padding: 11px;

      &:hover{
        text-decoration: underline;
      }
    }
    .selected{
      background-color: white;
      border-bottom: none;
    }
  }
}

.session-form-container{
  font-family: $roboto;
  display: flex;
  flex-direction: column;


  .session-errors {
    font-family: $roboto;
    line-height: 16px;

    color: #C12323;
    display: inline-block;

    li{
    background-color: #FFEDED;
    padding: 10px;
    border-radius: 5px;
    }
  }

  input{
    line-height: 16px;
    color: #333;
    font-size: 12px;
    padding: 6px;
    width: 218px;
    border: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    display: block;
  }
  label{
    padding: 10px 10px 15px 0px;
  }
  button{
    display: inline-block;
    padding: 7px 7px 8px;
    border-width: 1px;
    border-style: solid;
    text-align: center;
    background-color: #FFAA00;
    color: #fff;
    border-radius: 4px;
    font-size: 15px;
    font-weight: bold;
    width: 218px;
  }

}
