header{
  margin: 0px 84px;
  padding: 0px 36px;

  .right-buttons{
    display: flex;
    justify-content: space-evenly;

    .new-session-btns ul{
      color: $gold-orange;
      background-color: #fff;
      font-family: $roboto;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;

      li{
        padding: 10px;
        font-size: 14px;
        margin-right: 15px;
        .register{
          display:block;
          padding: 8px;
          line-height: 15px;
          margin-top: 13px;

          &:hover{
            text-decoration: underline;
          }
        }

        button:hover {
          background-color: $session-hover;
        }
        .sign-in-btn:hover{
          background-color: $session-hover;
        }

        .demo{
          display:block;
          border: 1px solid $gold-orange;
          padding: 8px;
          line-height: 15px;
          margin-top: 13px;
          border-radius: 3px;
        }

        .sign-in-btn{
          display:block;
          border: 1px solid $gold-orange;
          padding: 8px;
          line-height: 15px;
          margin-top: 13px;
          border-radius: 3px;
        }
      }
    }

    .current-session-btns{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;

      ul{
      color: #666666;
      background-color: #fff;
      font-family: $roboto;
      display: flex;
      line-height: 15px;

        li{
          padding-left: 9px;
          padding-right: 9px;
          text-align: center;
          font-size: 13px;
          width:50px;
          border-left: 1px solid $session-grey;

          .current-user{
            font-size: 14px;
            border-left: none;
          }
          .session-user-picture{
            display: flex;
            justify-content: center;
          }
          .logout-button{
            display:block;
            font-family: $graphik;
            padding-left: 15px;

          }
          .user-image{
            width: 24px;
            height: 24px;
          }
          .carts-link{
            font-family: "Roboto", sans-serif;
            padding: 10px 20px 5px 20px;
            white-space: nowrap;
            color: #888;
            font-size: 14px;
          }

          &:hover{
            color:black;
          }
        }
      }
    }
  }
}
