.new-session-btns ul{
  color: $gold-orange;
  background-color: blue;
  font-family: $roboto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;

  // min-width: 30%;
  li{
    padding: 10px;
    font-size: 14px;

    button:hover {
      background-color: #fce0a9;
    }
    .sign-in-btn:hover{
      background-color: #fce0a9
    }

    .demo{
      display:block;
      border: 1px solid $gold-orange;
      padding: 8px;
      line-height: 15px;
      margin-top: 13px;
      border-radius: 3px;
    }
    .sign-in-btn{
      display:block;
      border: 1px solid $gold-orange;
      padding: 8px;
      line-height: 15px;
      margin-top: 13px;
      border-radius: 3px;
    }
  }
}

.current-session-btns ul{
  color: $gold-orange;
  background-color: blue;
  font-family: $roboto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  li{
    padding: 10px;
    font-size: 14px;
  }
  .current-user li{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/6/62/Anchor_pictogram.svg);
  }
  .logout-button{

  }
}
