$splash: image_path("ocean2.jpg");

.splashImage{
  background-image: url($splash);
  background-size: 1385px;
  background-position: center;
  background-repeat: no-repeat;
  height: 320px;
  margin: 20px;
}
