.user-show-all{

  .user-show-header{
    line-height: 16px;
    font-size: 11px;
    padding: 6px 0 6px 1px;
    color: #818181;
    border-bottom: 1px solid #eee;
    width: 980px;
    text-align: left;
    border-radius: 3px;
    margin: auto;
    border-radius: 3px;
  }

  .user-show-box{
    width: 980px;
    text-align: left;
    border-radius: 3px;
    margin: auto;
    display: flex;
    padding-top: 20px;


    .user-show-left{
      font-size: 12px;
      padding: 12px 0px 16px 8px;
      position: relative;
      width: 190px;
      background-color: $cart-background;
      font-family: $graphik;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      height: 5%;
      border-radius: 3px;

      .user-show-img{
        position: relative;
        border-radius: 50%;
        height: 158px;
        width: 158px;
        border: 1px solid #DADBD6;
        margin-bottom: 2em;
        margin-top: 1em;
        margin-left: 2.5px;
        background-color: white;
      }

      h4{
        margin: 20px 0;
        color: #666;
        font-weight: bold;
        line-height: 14px;

      }

      .side-bar{
        color: #666;

        p{
          padding-bottom: .7em;
        }
      }
    }

    .user-show-right-box{
      .show-right{
        width: 790px;

        .right-box-header{
          display: flex;
          justify-content: space-between;
          font-family: $graphik;

          .create-item-btn{
            text-align: right;
            font-size: 14px;
            padding: 7px;
            display: table;
            color: #444;
            background-color: #fff;
            font-weight: normal;
            text-shadow: none;
            border-radius: 3px;
            border: 1px solid $box-grey;
          }
          h2{
            margin-left: 20px;
            text-align: left;
            color: black;
            font-weight: 400;
            font-size: 1.5em;
            margin-left: 20px;
            padding-bottom: 18px;
          }
        }

        .user-item-list{
          font-size: 14px;
          line-height: 1.4;
          font-family: $graphik;
          display: flex;
          flex-wrap: wrap;
          padding-left: 30px;

          .user-item{
            border-radius: 5px;
            border: 4px solid $cart-background;
            margin-bottom: 10px;
            margin: 2.9%;
            &:first-child{
              margin-left:20px;
            }

            .show-item-img{
              display: block;
              width: 200px;
              height: 200px;
            }

            .item-info{
              display:block;
              padding-bottom: 10px;
              h5{
                color: #444;
                text-align: left;
                font-size: 13px;
                font-weight: 400;
                margin-top: 7px;
                margin-bottom: 3px;
                letter-spacing: .02em;
                font-family: $graphik;
              }

              p{
                color: $dark-grey;
                font-weight: 550;
                font-size: 13px;
                line-height: 1.4;
                padding-right: 7px;
                text-align: right;
              }
            }
            .item-buttons{
              font-size: 14px;
              line-height: 1.4;
              color: $user-grey;
              font-family: $graphik;
              border-top: 1px solid $line-grey;
              .view-item{
                width: 46%;
                padding: 3px;
                text-align: center;
                border-radius: 3px;
                display: inline-block;
                font-weight: bold;
                height: 30px;
                line-height: 1.4;
              }
              .edit-button{
                border-left: 1px solid $line-grey;
                width: 46%;
                padding: 3px;
                text-align: center;
                border-radius: 3px;
                display: inline-block;
                font-family: inherit;
                font-size: 14px;
                font-weight: bold;
                height: 30px;
                line-height: 1.4;
              }
            }
          }
        }
      }
    }
  }
}
